venv/
.venv
.env
.env.*
ENV/
venv.bak/
__pycache__/
*.pyc
*.pyo
.Python
.vscode/
.idea/
*.swp
*.swo
*.db
*.sqlite
database/
*.log
logs/
.coverage
.pytest_cache/
hltmcov/
.DS_Store
Thumbs.db
*.tmp
*.temp
docs/_build/
user-service/tests/evidence/
product-service/products_tests/products_evidence
generate_hashed_password.py

