apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-user-init-scripts
  namespace: projeto-final
data:
  init.sql: |

    USE auth_production;

    CREATE TABLE IF NOT EXISTS users(
        id INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
        email VARCHAR(255) NOT NULL UNIQUE,
        password VARCHAR(255) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,

        INDEX idx_email (email),
        INDEX idx_created_at (created_at)
    )ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

    SELECT '[USER-DB] Database initialized successfully' as 'Status';