apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler #manages the performance from the user-service pods
metadata:
  name: user-service-hpa
  namespace: projeto-final
  labels:
    app: user-service
    component: backend
    service: user
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: user-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80